:root{
    --biru: 001324;
    --kuning: FFBB36;
    --merah: F45050;
    --putih: FFFFFF;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    height: 90vh;
}

body {
    font-family: raleway;
    margin: 0;
    padding: 0;
}
.logo.nav {
    display: flex;
    align-items: center; /* Align items vertically */
  }

.logo img {
    width: 25px; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
    margin-right: 5px; /* Adjust the spacing between the logo and the name */
  }

.logo a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-family: poppins;
  }
nav {
    position: fixed;
    top: 20px;;
    width: 80%;
    background-color: #001324;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    font-size: 13px;
    z-index: 1000;
}

nav ul {
    display: flex;
    margin: 0 20%;
}

nav ul li {

    display: flex;
    margin-right: 10px;

}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 0 10px;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #F45050;
    position: absolute;
    left: 50%;
    bottom: -20px;
    transition: 0.1s;
    transform-origin: 50% 50%; /* Set the transform origin to center */
}
nav ul li a:hover::after{
    width: 100%;
    transform: translateX(-50%);
}
nav a:hover {
    font-weight: 600;
    transition: font-weight 0.3s;
}
.red-btn-nav{
    background-color: #e74c3c;
    display: inline-block;
    padding: 5px 10px;
    margin-left: 80px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
}
.red-btn-nav:hover{
    background-color: #FFBB36;
    color: #001324;
    transition: all 0.2s;
}
.red-btn, .yellow-btn {
    display: inline-block;
    padding: 20px 50px;
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px
}

.red-btn {
    background-color: #e74c3c;
}

.yellow-btn {
    background-color: #f39c12;
}

.judul-row {
    display: flex;
    justify-content: space-between;
    align-items: right;
    margin-top: 80px;
    margin-bottom: 15px;
}
.row-1, .row-2 {
    flex: 1;
}
.row-1 {
    text-align: left;
    padding: 0 60px
}
.row-1 .Hi{
    margin-bottom: -120px;
    color: #e74c3c;
    font-size:50px;
    font-family: poppins;
}
.row-1 .Nama{
    font-family: poppins;
    color: #001324;
    margin-bottom: -50px;
    font-size:128px;
    font-weight: 800
}
.row-1 .auto-type{
    font-family: poppins;
    color: #e74c3c;
    font-size:30px;
    margin-top: -30px;
    font-weight: 600;
}
.row-2 {
    margin-top: 30px;
    text-align: right;
    padding: 0 60px
}
.row-2 img {
    width: 80%;
}
.judul-deskripsi{
    margin-top: -15px;
    margin-right: -100px;
    text-align: justify;
    font-size: 18px;
    color: #001324;
    font-family: poppins;
    font-weight: 500;
}
.deskripsi{
    margin-top: -15px;
    margin-right: -100px;
    margin-bottom: 80px;
    text-align: justify;
    font-size: 16px;
    color: #001324;
    font-family: poppins;
    font-weight: 500;
}


.judul-frame{
    text-align: center;
    font-size: 25px;
    color: #001324;
    font-family: poppins;
    font-weight: 600;
}

.swiper {
    overflow-x: auto;
    width: 70%;
    margin: auto auto; 
    padding: 20px 0px;
}
.swiper-wrapper {
    display: inline-flex; /* Add this line to create a flex container */
    flex-direction: row; /* Set the direction to horizontal */
    padding: 20px 0; /* Adjust the padding as needed */
    justify-content: center;
}  
.swiper-slide {
    flex: 0 0 auto;
}
  
.card {
    width: 300px; /* Adjust the width of each card */
    height: 240px;
    margin-bottom: 30px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s; /* Add a transition for smooth scaling */
}
.card:hover {
    transform: scale(1.1); /* Increase the size on hover */
}
  
.card img {
    width: 100%;
    height: 150px; /* Adjust the height as needed */
    object-fit: cover;
    border-radius: 10px;
}
  
.card-content {
    padding: 15px;
    text-align: center;
}
  
.card-content h3 {
    margin: 0;
    font-size: 18px;
}
  
.card-content p {
    margin: 100px 0;
    font-size: 14px;
    text-align: justify;
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff; /* Arrow color */
  font-size: 24px; /* Adjust the arrow size */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #FFBB36; /* Arrow color on hover */
}
.project-explanation {
    display: none;
    text-align: left; /* Align text to the left */
  }
  
.project-explanation .center-content {
    display: flex;
    justify-content: center;
}
  
  .project-explanation .content-wrapper {
    display: flex;

    width: 76%; /* Adjust the width as needed */
    margin: 0 auto;
    
  }
  
  .project-explanation img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    border-radius: 10px;
    margin: 10px 50px;
  }
  #experiences {
    padding: 40px 0;
}

.experience-column {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin: 0;
}
.experience-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80%;
    margin:  auto;
}

.experience-col-1 {
    flex-basis: calc(50% - 100px);
    box-sizing: border-box;
    margin: -15px;
    padding: 0 20px;

}

.experience-col-2 {
    flex-basis: calc(50% - 10px);
    margin: 0 0;
    padding: 20px;
}
.experience-col-2 ul {
    list-style-type: disc; /* Use 'disc' for bullet points, 'circle' or 'square' are also options */
    padding-left: 20px; /* Adjust the left padding as needed */
}

.experience-col-2 li {
    margin-bottom: 10px; /* Adjust the margin between bullet points */
}

.judul-experience {
    font-size: 24px;
    margin-bottom: 0;
    color: #001324;
}
.role{
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
}

.periode {
    color: #e74c3c;
    margin-top: -10px;
}


.experience-col-2 p {
    color: #001324;
    padding: 7px 0;
    max-width: 100%;
}


.row-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 80%;
}


/* Container for the contact section */
.row-contact {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto 40px auto;
    padding: 20px;
}

/* Left side containing social icons */
.contact-left {
    flex: 40%;
}

/* Style for the social icons */
.social-icon {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-icon a {
    color: #001324;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
}

/* Style for the contact info */
.social-icon img {
    width: 50px; /* Adjust the size as needed */
    margin-right: 10px;
}

.social-icon p {
    margin: 0;
}

/* Right side containing the contact form */
.contact-right {
    flex: 65%;
}

/* Style for the form elements */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input,
form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    font-style: poppinss;
}

button {
    padding: 10px;
    background-color: #F45050;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #D73838;
}

/* Style for the message span below the form */
#msg {
    display: block;
    margin-top: 10px;
    color: #F45050;
    font-size: 20px;
    font-style: poppins;
}

.copyright {
    position: relative;
    width: 80%;
    background-color: #001324;
    color: #fff;
    bottom: 20px;
    padding: 6px 0;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    border-radius: 10px;
    font-size: 13px;
    margin: 0 auto;
}
